In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Text
from sqlalchemy.orm import sessionmaker
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

from sqlalchemy import create_engine, Column, String, Float, Integer
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
title_basics_df = pd.read_csv(r'\Users\lidiv\project03\project3\Data/title_basic_filtered.csv.gz', compression='gzip', low_memory=False)
title_ratings_df =  pd.read_csv(r'\Users\lidiv\project03\project3\Data/title_rating_filtered.csv.gz', compression='gzip', low_memory=False)
tmdb_data_df = pd.read_csv(r'\Users\lidiv\project03\project3\tmdb_results_combined.csv.gz', compression='gzip', low_memory=False)

In [3]:
import json
with open('/Users/lidiv/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [4]:
connection = f"mysql+mysqlconnector://{login['username']}:{urlquote(login['password'])}@localhost:3306/movie"
engine = create_engine(connection)

In [5]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [6]:
# Normalize genres
title_basics_df['genres_split'] = title_basics_df['genres'].str.split(', ')

In [7]:
exploded_genres = title_basics_df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019.0,NaN,\N,"Action,Crime","Action,Crime"
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,NaN,60,\N,\N
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","Comedy,Fantasy,Romance"
3,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
4,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
187792,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","Drama,History"
187793,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019.0,NaN,\N,"Adventure,History,War","Adventure,History,War"
187794,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama,Drama
187795,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013.0,NaN,\N,Comedy,Comedy
187796,tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116,Drama,Drama

In [8]:
!pip install sqlalchemy sqlalchemy-utils
!pip install mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\lidiv\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: sqlalchemy-utils in c:\users\lidiv\anaconda3\lib\site-packages (0.41.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lidiv\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: mysql-connector-python in c:\users\lidiv\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\lidiv\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [9]:
#unique_genres = sorted(exploded_genres['genres'].unique())

In [10]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [11]:
titles_genres= exploded_genres[['tconst', 'genres_split']].copy()
titles_genres.head()

      tconst            genres_split
0  tt0011801            Action,Crime
1  tt0015414                      \N
2  tt0035423  Comedy,Fantasy,Romance
3  tt0062336                   Drama
4  tt0068865                   Drama

In [12]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Action,Adult': 1,
 'Action,Adult,Crime': 2,
 'Action,Adult,Drama': 3,
 'Action,Adult,Sci-Fi': 4,
 'Action,Adventure': 5,
 'Action,Adventure,Animation': 6,
 'Action,Adventure,Biography': 7,
 'Action,Adventure,Comedy': 8,
 'Action,Adventure,Crime': 9,
 'Action,Adventure,Drama': 10,
 'Action,Adventure,Family': 11,
 'Action,Adventure,Fantasy': 12,
 'Action,Adventure,History': 13,
 'Action,Adventure,Horror': 14,
 'Action,Adventure,Music': 15,
 'Action,Adventure,Musical': 16,
 'Action,Adventure,Mystery': 17,
 'Action,Adventure,Romance': 18,
 'Action,Adventure,Sci-Fi': 19,
 'Action,Adventure,Sport': 20,
 'Action,Adventure,Thriller': 21,
 'Action,Adventure,War': 22,
 'Action,Adventure,Western': 23,
 'Action,Animation': 24,
 'Action,Animation,Biography': 25,
 'Action,Animation,Comedy': 26,
 'Action,Animation,Crime': 27,
 'Action,Animation,Drama': 28,
 'Action,Animation,Family': 29,
 'Action,Animation,Fantasy': 30,
 'Action,Animation,Game-Show': 31,
 'Action,Animation,History': 32,
 'Action,Animation,Horror': 33,
 'Action,Animation,Music': 34,
 'Action,Animation,Musical': 35,
 'Action,Animation,Mystery': 36,
 'Action,Animation,Romance': 37,
 'Action,Animation,Sci-Fi': 38,
 'Action,Animation,Sport': 39,
 'Action,Animation,Thriller': 40,
 'Action,Animation,War': 41,
 'Action,Biography': 42,
 'Action,Biography,Comedy': 43,
 'Action,Biography,Crime': 44,
 'Action,Biography,Drama': 45,
 'Action,Biography,Fantasy': 46,
 'Action,Biography,History': 47,
 'Action,Biography,Thriller': 48,
 'Action,Biography,War': 49,
 'Action,Comedy': 50,
 'Action,Comedy,Crime': 51,
 'Action,Comedy,Drama': 52,
 'Action,Comedy,Family': 53,
 'Action,Comedy,Fantasy': 54,
 'Action,Comedy,History': 55,
 'Action,Comedy,Horror': 56,
 'Action,Comedy,Music': 57,
 'Action,Comedy,Musical': 58,
 'Action,Comedy,Mystery': 59,
 'Action,Comedy,Romance': 60,
 'Action,Comedy,Sci-Fi': 61,
 'Action,Comedy,Sport': 62,
 'Action,Comedy,Thriller': 63,
 'Action,Comedy,War': 64,
 'Action,Comedy,Western': 65,
 'Action,Crime': 66,
 'Action,Crime,Drama': 67,
 'Action,Crime,Family': 68,
 'Action,Crime,Fantasy': 69,
 'Action,Crime,History': 70,
 'Action,Crime,Horror': 71,
 'Action,Crime,Music': 72,
 'Action,Crime,Musical': 73,
 'Action,Crime,Mystery': 74,
 'Action,Crime,Romance': 75,
 'Action,Crime,Sci-Fi': 76,
 'Action,Crime,Sport': 77,
 'Action,Crime,Thriller': 78,
 'Action,Crime,War': 79,
 'Action,Crime,Western': 80,
 'Action,Drama': 81,
 'Action,Drama,Family': 82,
 'Action,Drama,Fantasy': 83,
 'Action,Drama,History': 84,
 'Action,Drama,Horror': 85,
 'Action,Drama,Music': 86,
 'Action,Drama,Musical': 87,
 'Action,Drama,Mystery': 88,
 'Action,Drama,News': 89,
 'Action,Drama,Romance': 90,
 'Action,Drama,Sci-Fi': 91,
 'Action,Drama,Sport': 92,
 'Action,Drama,Thriller': 93,
 'Action,Drama,War': 94,
 'Action,Drama,Western': 95,
 'Action,Family': 96,
 'Action,Family,Fantasy': 97,
 'Action,Family,Horror': 98,
 'Action,Family,Mystery': 99,
 'Action,Family,Romance': 100,
 'Action,Family,Sci-Fi': 101,
 'Action,Family,Sport': 102,
 'Action,Family,Thriller': 103,
 'Action,Family,Western': 104,
 'Action,Fantasy': 105,
 'Action,Fantasy,History': 106,
 'Action,Fantasy,Horror': 107,
 'Action,Fantasy,Musical': 108,
 'Action,Fantasy,Mystery': 109,
 'Action,Fantasy,Romance': 110,
 'Action,Fantasy,Sci-Fi': 111,
 'Action,Fantasy,Thriller': 112,
 'Action,Fantasy,War': 113,
 'Action,Fantasy,Western': 114,
 'Action,History': 115,
 'Action,History,Horror': 116,
 'Action,History,Romance': 117,
 'Action,History,Thriller': 118,
 'Action,History,War': 119,
 'Action,History,Western': 120,
 'Action,Horror': 121,
 'Action,Horror,Music': 122,
 'Action,Horror,Mystery': 123,
 'Action,Horror,Romance': 124,
 'Action,Horror,Sci-Fi': 125,
 'Action,Horror,Sport': 126,
 'Action,Horror,Thriller': 127,
 'Action,Horror,War': 128,
 'Action,Horror,Western': 129,
 'Action,Music': 130,
 'Action,Music,Musical': 131,
 'Action,Music,Sci-Fi': 132,
 'Action,Musical': 133,
 'Action,Musical,Romance': 134,
 'Action,Musical,Sci-Fi': 135,
 'Action,Musical,Thriller': 136,
 'Action,Mystery': 137,
 'Action,Mystery,Romance': 138,
 'Action,Mystery,Sci-Fi': 139,
 'Action,Mystery,Thriller': 140,
 'Action,Mystery,Western': 141,
 'Action,Reality-TV': 142,
 'Action,Romance': 143,
 'Action,Romance,Sci-Fi': 144,
 'Action,Romance,Sport': 145,
 'Action,Romance,Thriller': 146,
 'Action,Romance,War': 147,
 'Action,Romance,Western': 148,
 'Action,Sci-Fi': 149,
 'Action,Sci-Fi,Sport': 150,
 'Action,Sci-Fi,Thriller': 151,
 'Action,Sci-Fi,War': 152,
 'Action,Sci-Fi,Western': 153,
 'Action,Sport': 154,
 'Action,Sport,Thriller': 155,
 'Action,Sport,War': 156,
 'Action,Thriller': 157,
 'Action,Thriller,War': 158,
 'Action,Thriller,Western': 159,
 'Action,War': 160,
 'Action,Western': 161,
 'Adult': 162,
 'Adult,Adventure': 163,
 'Adult,Adventure,Comedy': 164,
 'Adult,Adventure,Romance': 165,
 'Adult,Animation,Drama': 166,
 'Adult,Animation,Horror': 167,
 'Adult,Biography,Drama': 168,
 'Adult,Comedy': 169,
 'Adult,Comedy,Crime': 170,
 'Adult,Comedy,Drama': 171,
 'Adult,Comedy,Horror': 172,
 'Adult,Comedy,Music': 173,
 'Adult,Crime': 174,
 'Adult,Crime,Drama': 175,
 'Adult,Crime,Mystery': 176,
 'Adult,Crime,Thriller': 177,
 'Adult,Drama': 178,
 'Adult,Drama,Fantasy': 179,
 'Adult,Drama,Horror': 180,
 'Adult,Drama,Mystery': 181,
 'Adult,Drama,Reality-TV': 182,
 'Adult,Drama,Romance': 183,
 'Adult,Fantasy': 184,
 'Adult,Fantasy,Horror': 185,
 'Adult,Fantasy,Romance': 186,
 'Adult,Horror': 187,
 'Adult,Horror,Thriller': 188,
 'Adult,Music': 189,
 'Adult,Mystery': 190,
 'Adult,Romance': 191,
 'Adult,Romance,Thriller': 192,
 'Adult,Sci-Fi': 193,
 'Adult,Sport': 194,
 'Adult,Thriller': 195,
 'Adventure': 196,
 'Adventure,Animation': 197,
 'Adventure,Animation,Biography': 198,
 'Adventure,Animation,Comedy': 199,
 'Adventure,Animation,Crime': 200,
 'Adventure,Animation,Drama': 201,
 'Adventure,Animation,Family': 202,
 'Adventure,Animation,Fantasy': 203,
 'Adventure,Animation,History': 204,
 'Adventure,Animation,Horror': 205,
 'Adventure,Animation,Music': 206,
 'Adventure,Animation,Musical': 207,
 'Adventure,Animation,Mystery': 208,
 'Adventure,Animation,Romance': 209,
 'Adventure,Animation,Sci-Fi': 210,
 'Adventure,Biography': 211,
 'Adventure,Biography,Comedy': 212,
 'Adventure,Biography,Crime': 213,
 'Adventure,Biography,Drama': 214,
 'Adventure,Biography,Family': 215,
 'Adventure,Biography,History': 216,
 'Adventure,Biography,Mystery': 217,
 'Adventure,Biography,Thriller': 218,
 'Adventure,Biography,War': 219,
 'Adventure,Biography,Western': 220,
 'Adventure,Comedy': 221,
 'Adventure,Comedy,Crime': 222,
 'Adventure,Comedy,Drama': 223,
 'Adventure,Comedy,Family': 224,
 'Adventure,Comedy,Fantasy': 225,
 'Adventure,Comedy,History': 226,
 'Adventure,Comedy,Horror': 227,
 'Adventure,Comedy,Music': 228,
 'Adventure,Comedy,Musical': 229,
 'Adventure,Comedy,Mystery': 230,
 'Adventure,Comedy,Reality-TV': 231,
 'Adventure,Comedy,Romance': 232,
 'Adventure,Comedy,Sci-Fi': 233,
 'Adventure,Comedy,Sport': 234,
 'Adventure,Comedy,Thriller': 235,
 'Adventure,Comedy,War': 236,
 'Adventure,Comedy,Western': 237,
 'Adventure,Crime': 238,
 'Adventure,Crime,Drama': 239,
 'Adventure,Crime,Family': 240,
 'Adventure,Crime,History': 241,
 'Adventure,Crime,Horror': 242,
 'Adventure,Crime,Music': 243,
 'Adventure,Crime,Mystery': 244,
 'Adventure,Crime,Romance': 245,
 'Adventure,Crime,Sci-Fi': 246,
 'Adventure,Crime,Thriller': 247,
 'Adventure,Crime,Western': 248,
 'Adventure,Drama': 249,
 'Adventure,Drama,Family': 250,
 'Adventure,Drama,Fantasy': 251,
 'Adventure,Drama,History': 252,
 'Adventure,Drama,Horror': 253,
 'Adventure,Drama,Music': 254,
 'Adventure,Drama,Musical': 255,
 'Adventure,Drama,Mystery': 256,
 'Adventure,Drama,Romance': 257,
 'Adventure,Drama,Sci-Fi': 258,
 'Adventure,Drama,Sport': 259,
 'Adventure,Drama,Thriller': 260,
 'Adventure,Drama,War': 261,
 'Adventure,Drama,Western': 262,
 'Adventure,Family': 263,
 'Adventure,Family,Fantasy': 264,
 'Adventure,Family,History': 265,
 'Adventure,Family,Horror': 266,
 'Adventure,Family,Music': 267,
 'Adventure,Family,Musical': 268,
 'Adventure,Family,Mystery': 269,
 'Adventure,Family,Romance': 270,
 'Adventure,Family,Sci-Fi': 271,
 'Adventure,Family,Sport': 272,
 'Adventure,Family,Western': 273,
 'Adventure,Fantasy': 274,
 'Adventure,Fantasy,History': 275,
 'Adventure,Fantasy,Horror': 276,
 'Adventure,Fantasy,Music': 277,
 'Adventure,Fantasy,Musical': 278,
 'Adventure,Fantasy,Mystery': 279,
 'Adventure,Fantasy,Romance': 280,
 'Adventure,Fantasy,Sci-Fi': 281,
 'Adventure,Fantasy,Thriller': 282,
 'Adventure,Fantasy,War': 283,
 'Adventure,Fantasy,Western': 284,
 'Adventure,History': 285,
 'Adventure,History,Music': 286,
 'Adventure,History,Mystery': 287,
 'Adventure,History,Romance': 288,
 'Adventure,History,Sci-Fi': 289,
 'Adventure,History,War': 290,
 'Adventure,History,Western': 291,
 'Adventure,Horror': 292,
 'Adventure,Horror,Musical': 293,
 'Adventure,Horror,Mystery': 294,
 'Adventure,Horror,Romance': 295,
 'Adventure,Horror,Sci-Fi': 296,
 'Adventure,Horror,Thriller': 297,
 'Adventure,Horror,Western': 298,
 'Adventure,Music': 299,
 'Adventure,Music,Mystery': 300,
 'Adventure,Music,Romance': 301,
 'Adventure,Music,Sci-Fi': 302,
 'Adventure,Music,Thriller': 303,
 'Adventure,Musical': 304,
 'Adventure,Musical,Romance': 305,
 'Adventure,Musical,Sci-Fi': 306,
 'Adventure,Mystery': 307,
 'Adventure,Mystery,Romance': 308,
 'Adventure,Mystery,Sci-Fi': 309,
 'Adventure,Mystery,Thriller': 310,
 'Adventure,News': 311,
 'Adventure,Reality-TV': 312,
 'Adventure,Romance': 313,
 'Adventure,Romance,Sci-Fi': 314,
 'Adventure,Romance,Sport': 315,
 'Adventure,Romance,Thriller': 316,
 'Adventure,Romance,Western': 317,
 'Adventure,Sci-Fi': 318,
 'Adventure,Sci-Fi,Thriller': 319,
 'Adventure,Sci-Fi,Western': 320,
 'Adventure,Sport': 321,
 'Adventure,Thriller': 322,
 'Adventure,War': 323,
 'Adventure,Western': 324,
 'Animation': 325,
 'Animation,Biography': 326,
 'Animation,Biography,Comedy': 327,
 'Animation,Biography,Crime': 328,
 'Animation,Biography,Drama': 329,
 'Animation,Biography,Family': 330,
 'Animation,Biography,Fantasy': 331,
 'Animation,Biography,History': 332,
 'Animation,Biography,Music': 333,
 'Animation,Biography,Sport': 334,
 'Animation,Comedy': 335,
 'Animation,Comedy,Crime': 336,
 'Animation,Comedy,Drama': 337,
 'Animation,Comedy,Family': 338,
 'Animation,Comedy,Fantasy': 339,
 'Animation,Comedy,History': 340,
 'Animation,Comedy,Horror': 341,
 'Animation,Comedy,Music': 342,
 'Animation,Comedy,Musical': 343,
 'Animation,Comedy,Mystery': 344,
 'Animation,Comedy,Romance': 345,
 'Animation,Comedy,Sci-Fi': 346,
 'Animation,Comedy,Sport': 347,
 'Animation,Comedy,War': 348,
 'Animation,Crime': 349,
 'Animation,Crime,Drama': 350,
 'Animation,Crime,Music': 351,
 'Animation,Crime,Mystery': 352,
 'Animation,Crime,Sci-Fi': 353,
 'Animation,Drama': 354,
 'Animation,Drama,Family': 355,
 'Animation,Drama,Fantasy': 356,
 'Animation,Drama,History': 357,
 'Animation,Drama,Horror': 358,
 'Animation,Drama,Music': 359,
 'Animation,Drama,Musical': 360,
 'Animation,Drama,Mystery': 361,
 'Animation,Drama,Romance': 362,
 'Animation,Drama,Sci-Fi': 363,
 'Animation,Drama,Sport': 364,
 'Animation,Drama,Thriller': 365,
 'Animation,Drama,War': 366,
 'Animation,Family': 367,
 'Animation,Family,Fantasy': 368,
 'Animation,Family,History': 369,
 'Animation,Family,Music': 370,
 'Animation,Family,Musical': 371,
 'Animation,Family,Romance': 372,
 'Animation,Family,Sci-Fi': 373,
 'Animation,Family,Sport': 374,
 'Animation,Family,Western': 375,
 'Animation,Fantasy': 376,
 'Animation,Fantasy,History': 377,
 'Animation,Fantasy,Horror': 378,
 'Animation,Fantasy,Music': 379,
 'Animation,Fantasy,Musical': 380,
 'Animation,Fantasy,Mystery': 381,
 'Animation,Fantasy,Romance': 382,
 'Animation,Fantasy,Sci-Fi': 383,
 'Animation,Fantasy,Thriller': 384,
 'Animation,History': 385,
 'Animation,History,Music': 386,
 'Animation,History,Musical': 387,
 'Animation,History,Romance': 388,
 'Animation,History,War': 389,
 'Animation,Horror': 390,
 'Animation,Horror,Music': 391,
 'Animation,Horror,Mystery': 392,
 'Animation,Horror,Romance': 393,
 'Animation,Horror,Sci-Fi': 394,
 'Animation,Horror,Thriller': 395,
 'Animation,Music': 396,
 'Animation,Music,Musical': 397,
 'Animation,Music,Mystery': 398,
 'Animation,Music,Romance': 399,
 'Animation,Music,Sci-Fi': 400,
 'Animation,Music,Thriller': 401,
 'Animation,Musical': 402,
 'Animation,Musical,Romance': 403,
 'Animation,Musical,Sport': 404,
 'Animation,Mystery': 405,
 'Animation,Mystery,Sci-Fi': 406,
 'Animation,Mystery,Thriller': 407,
 'Animation,Romance': 408,
 'Animation,Romance,Sci-Fi': 409,
 'Animation,Sci-Fi': 410,
 'Animation,Sci-Fi,Sport': 411,
 'Animation,Sci-Fi,Thriller': 412,
 'Animation,Sci-Fi,War': 413,
 'Animation,Sport': 414,
 'Animation,Thriller': 415,
 'Animation,War': 416,
 'Animation,Western': 417,
 'Biography': 418,
 'Biography,Comedy': 419,
 'Biography,Comedy,Crime': 420,
 'Biography,Comedy,Drama': 421,
 'Biography,Comedy,Family': 422,
 'Biography,Comedy,Fantasy': 423,
 'Biography,Comedy,History': 424,
 'Biography,Comedy,Horror': 425,
 'Biography,Comedy,Music': 426,
 'Biography,Comedy,Musical': 427,
 'Biography,Comedy,Mystery': 428,
 'Biography,Comedy,Reality-TV': 429,
 'Biography,Comedy,Romance': 430,
 'Biography,Comedy,Sci-Fi': 431,
 'Biography,Comedy,Sport': 432,
 'Biography,Crime': 433,
 'Biography,Crime,Drama': 434,
 'Biography,Crime,Fantasy': 435,
 'Biography,Crime,History': 436,
 'Biography,Crime,Horror': 437,
 'Biography,Crime,Mystery': 438,
 'Biography,Crime,Romance': 439,
 'Biography,Crime,Thriller': 440,
 'Biography,Crime,Western': 441,
 'Biography,Drama': 442,
 'Biography,Drama,Family': 443,
 'Biography,Drama,Fantasy': 444,
 'Biography,Drama,History': 445,
 'Biography,Drama,Horror': 446,
 'Biography,Drama,Music': 447,
 'Biography,Drama,Musical': 448,
 'Biography,Drama,Mystery': 449,
 'Biography,Drama,News': 450,
 'Biography,Drama,Romance': 451,
 'Biography,Drama,Sport': 452,
 'Biography,Drama,Thriller': 453,
 'Biography,Drama,War': 454,
 'Biography,Drama,Western': 455,
 'Biography,Family': 456,
 'Biography,Family,History': 457,
 'Biography,Family,Musical': 458,
 'Biography,Family,Mystery': 459,
 'Biography,Family,News': 460,
 'Biography,Family,Sport': 461,
 'Biography,Fantasy': 462,
 'Biography,Fantasy,History': 463,
 'Biography,Fantasy,Horror': 464,
 'Biography,History': 465,
 'Biography,History,Horror': 466,
 'Biography,History,Music': 467,
 'Biography,History,Musical': 468,
 'Biography,History,Mystery': 469,
 'Biography,History,Romance': 470,
 'Biography,History,Thriller': 471,
 'Biography,History,War': 472,
 'Biography,History,Western': 473,
 'Biography,Horror': 474,
 'Biography,Music': 475,
 'Biography,Music,Musical': 476,
 'Biography,Music,Mystery': 477,
 'Biography,Musical': 478,
 'Biography,Mystery,Sci-Fi': 479,
 'Biography,Reality-TV': 480,
 'Biography,Romance': 481,
 'Biography,Romance,War': 482,
 'Biography,Sport': 483,
 'Biography,Thriller': 484,
 'Biography,Thriller,War': 485,
 'Biography,Thriller,Western': 486,
 'Biography,War': 487,
 'Comedy': 488,
 'Comedy,Crime': 489,
 'Comedy,Crime,Drama': 490,
 'Comedy,Crime,Family': 491,
 'Comedy,Crime,Fantasy': 492,
 'Comedy,Crime,History': 493,
 'Comedy,Crime,Horror': 494,
 'Comedy,Crime,Music': 495,
 'Comedy,Crime,Musical': 496,
 'Comedy,Crime,Mystery': 497,
 'Comedy,Crime,Romance': 498,
 'Comedy,Crime,Sci-Fi': 499,
 'Comedy,Crime,Sport': 500,
 'Comedy,Crime,Thriller': 501,
 'Comedy,Crime,Western': 502,
 'Comedy,Drama': 503,
 'Comedy,Drama,Family': 504,
 'Comedy,Drama,Fantasy': 505,
 'Comedy,Drama,History': 506,
 'Comedy,Drama,Horror': 507,
 'Comedy,Drama,Music': 508,
 'Comedy,Drama,Musical': 509,
 'Comedy,Drama,Mystery': 510,
 'Comedy,Drama,News': 511,
 'Comedy,Drama,Reality-TV': 512,
 'Comedy,Drama,Romance': 513,
 'Comedy,Drama,Sci-Fi': 514,
 'Comedy,Drama,Sport': 515,
 'Comedy,Drama,Thriller': 516,
 'Comedy,Drama,War': 517,
 'Comedy,Drama,Western': 518,
 'Comedy,Family': 519,
 'Comedy,Family,Fantasy': 520,
 'Comedy,Family,History': 521,
 'Comedy,Family,Horror': 522,
 'Comedy,Family,Music': 523,
 'Comedy,Family,Musical': 524,
 'Comedy,Family,Mystery': 525,
 'Comedy,Family,Romance': 526,
 'Comedy,Family,Sci-Fi': 527,
 'Comedy,Family,Sport': 528,
 'Comedy,Family,Thriller': 529,
 'Comedy,Family,Western': 530,
 'Comedy,Fantasy': 531,
 'Comedy,Fantasy,History': 532,
 'Comedy,Fantasy,Horror': 533,
 'Comedy,Fantasy,Music': 534,
 'Comedy,Fantasy,Musical': 535,
 'Comedy,Fantasy,Mystery': 536,
 'Comedy,Fantasy,Romance': 537,
 'Comedy,Fantasy,Sci-Fi': 538,
 'Comedy,Fantasy,Sport': 539,
 'Comedy,Fantasy,Thriller': 540,
 'Comedy,History': 541,
 'Comedy,History,Horror': 542,
 'Comedy,History,Music': 543,
 'Comedy,History,Musical': 544,
 'Comedy,History,Mystery': 545,
 'Comedy,History,Romance': 546,
 'Comedy,History,Sport': 547,
 'Comedy,History,Thriller': 548,
 'Comedy,History,War': 549,
 'Comedy,Horror': 550,
 'Comedy,Horror,Music': 551,
 'Comedy,Horror,Musical': 552,
 'Comedy,Horror,Mystery': 553,
 'Comedy,Horror,Reality-TV': 554,
 'Comedy,Horror,Romance': 555,
 'Comedy,Horror,Sci-Fi': 556,
 'Comedy,Horror,Sport': 557,
 'Comedy,Horror,Thriller': 558,
 'Comedy,Horror,War': 559,
 'Comedy,Horror,Western': 560,
 'Comedy,Music': 561,
 'Comedy,Music,Musical': 562,
 'Comedy,Music,Mystery': 563,
 'Comedy,Music,Romance': 564,
 'Comedy,Music,Sci-Fi': 565,
 'Comedy,Music,Sport': 566,
 'Comedy,Music,Thriller': 567,
 'Comedy,Music,War': 568,
 'Comedy,Musical': 569,
 'Comedy,Musical,Mystery': 570,
 'Comedy,Musical,Romance': 571,
 'Comedy,Musical,Sci-Fi': 572,
 'Comedy,Musical,Sport': 573,
 'Comedy,Musical,Thriller': 574,
 'Comedy,Musical,War': 575,
 'Comedy,Musical,Western': 576,
 'Comedy,Mystery': 577,
 'Comedy,Mystery,Romance': 578,
 'Comedy,Mystery,Sci-Fi': 579,
 'Comedy,Mystery,Sport': 580,
 'Comedy,Mystery,Thriller': 581,
 'Comedy,News': 582,
 'Comedy,Reality-TV': 583,
 'Comedy,Reality-TV,Romance': 584,
 'Comedy,Reality-TV,Talk-Show': 585,
 'Comedy,Romance': 586,
 'Comedy,Romance,Sci-Fi': 587,
 'Comedy,Romance,Sport': 588,
 'Comedy,Romance,Thriller': 589,
 'Comedy,Romance,Western': 590,
 'Comedy,Sci-Fi': 591,
 'Comedy,Sci-Fi,Sport': 592,
 'Comedy,Sci-Fi,Thriller': 593,
 'Comedy,Sci-Fi,Western': 594,
 'Comedy,Sport': 595,
 'Comedy,Sport,Thriller': 596,
 'Comedy,Sport,Western': 597,
 'Comedy,Talk-Show': 598,
 'Comedy,Thriller': 599,
 'Comedy,Thriller,Western': 600,
 'Comedy,War': 601,
 'Comedy,Western': 602,
 'Crime': 603,
 'Crime,Drama': 604,
 'Crime,Drama,Family': 605,
 'Crime,Drama,Fantasy': 606,
 'Crime,Drama,History': 607,
 'Crime,Drama,Horror': 608,
 'Crime,Drama,Music': 609,
 'Crime,Drama,Musical': 610,
 'Crime,Drama,Mystery': 611,
 'Crime,Drama,Romance': 612,
 'Crime,Drama,Sci-Fi': 613,
 'Crime,Drama,Sport': 614,
 'Crime,Drama,Thriller': 615,
 'Crime,Drama,War': 616,
 'Crime,Drama,Western': 617,
 'Crime,Family': 618,
 'Crime,Family,Fantasy': 619,
 'Crime,Family,Musical': 620,
 'Crime,Family,Mystery': 621,
 'Crime,Family,Thriller': 622,
 'Crime,Fantasy': 623,
 'Crime,Fantasy,History': 624,
 'Crime,Fantasy,Horror': 625,
 'Crime,Fantasy,Mystery': 626,
 'Crime,Fantasy,Romance': 627,
 'Crime,Fantasy,Thriller': 628,
 'Crime,Fantasy,War': 629,
 'Crime,History': 630,
 'Crime,History,Horror': 631,
 'Crime,History,Mystery': 632,
 'Crime,History,Thriller': 633,
 'Crime,Horror': 634,
 'Crime,Horror,Musical': 635,
 'Crime,Horror,Mystery': 636,
 'Crime,Horror,Romance': 637,
 'Crime,Horror,Sci-Fi': 638,
 'Crime,Horror,Thriller': 639,
 'Crime,Music': 640,
 'Crime,Music,Mystery': 641,
 'Crime,Music,Romance': 642,
 'Crime,Music,Thriller': 643,
 'Crime,Musical': 644,
 'Crime,Musical,Mystery': 645,
 'Crime,Musical,Thriller': 646,
 'Crime,Mystery': 647,
 'Crime,Mystery,Romance': 648,
 'Crime,Mystery,Sci-Fi': 649,
 'Crime,Mystery,Thriller': 650,
 'Crime,Mystery,Western': 651,
 'Crime,Reality-TV': 652,
 'Crime,Romance': 653,
 'Crime,Romance,Sci-Fi': 654,
 'Crime,Romance,Thriller': 655,
 'Crime,Romance,Western': 656,
 'Crime,Sci-Fi': 657,
 'Crime,Sci-Fi,Thriller': 658,

In [13]:
## make new integer genre_id and drop string genres

title_basics_df['genre_id'] = title_basics_df['genres_split'].apply(lambda x: [genre_map[genre] for genre in x] if isinstance(x, list) else [])
title_basics_df = title_basics_df.drop(columns='genres_split')

In [14]:
genre_lookup = pd.DataFrame({'genre_name': genre_map.keys(),
                             'genre_ID': genre_map.values()})
genre_lookup.head()

            genre_name  genre_ID
0               Action         0
1         Action,Adult         1
2   Action,Adult,Crime         2
3   Action,Adult,Drama         3
4  Action,Adult,Sci-Fi         4

In [15]:

print(title_basics_df.columns)

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'genre_id'],
      dtype='object')

In [16]:
# Insert the DataFrame into the database
genre_lookup.to_sql('genres', engine, index=False, if_exists='replace')

980

In [17]:
title_genres = title_basics_df[['tconst', 'genre_id']]
title_genres.head()

      tconst genre_id
0  tt0011801     [66]
1  tt0015414    [979]
2  tt0035423    [537]
3  tt0062336    [665]
4  tt0068865    [665]

In [22]:
title_genres_df= title_basics_df[['tconst', 'genre_id']].copy()
title_genres_df.head()

      tconst genre_id
0  tt0011801     [66]
1  tt0015414    [979]
2  tt0035423    [537]
3  tt0062336    [665]
4  tt0068865    [665]

In [23]:
# Flatten the 'genre_id' lists into a comma-separated string
title_genres_df['genre_id'] = title_genres_df['genre_id'].apply(lambda x: ','.join(map(str, x)))

In [24]:
# Insert the data into the 'title_genres' table
title_genres_df.to_sql('title_genres', engine, index=False, if_exists='replace')

187797

In [25]:
title_basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id
0,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019.0,NaN,\N,"Action,Crime",[66]
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,NaN,60,\N,[979]
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",[537]
3,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[665]
4,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,[665]

In [26]:
# Insert the DataFrame into the database
exploded_genres.to_sql('title_basics', engine, index=False, if_exists='replace')

187797

In [27]:
print(title_basics_df.columns)

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'genre_id'],
      dtype='object')

In [28]:
# Define a base class for declarative models
Base = declarative_base()

In [29]:
# Define your model class with a primary key and key length
class TitleBasics(Base):
    __tablename__ = 'title_basics'
    tconst = Column(String(20), primary_key=True)  # Here, '20' is the key length
    # Define other columns
    primaryTitle = Column(String)
    startYear = Column(Integer)
    runtimeMinutes =Column(Integer)
    originalTitle =Column(String)
    genres = Column(String)

In [30]:
title_ratings_df.to_sql('title_ratings', engine, index=False, if_exists='replace')

117763

In [31]:
print(title_ratings_df.columns)

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [32]:
# Define the model class for title_ratings
class TitleRatings(Base):
    __tablename__ = 'title_ratings'
    tconst = Column(String(20), primary_key=True)  # Assuming '20' is the key length
    averageRating = Column(Float)
    numVotes = Column(Integer)

In [33]:
tmdb_data_df[['movie_id', 'budget', 'revenue', 'certification']].to_sql('tmdb_data', engine, index=False, if_exists='replace')

8465

In [34]:
print(tmdb_data_df.columns)

Index(['movie_id', 'budget', 'revenue', 'certification'], dtype='object')

In [35]:
# Define your model class with a primary key and key length
class tmdb_data(Base):
    __tablename__ = 'tmdb_data'
    movie_id = Column(String(20), primary_key=True)  # Here, '20' is the key length
    # Define other columns
    budget = Column(Integer)
    revenue = Column(Integer)
    certification =Column(Float)

In [36]:
# Define the schema for the 'genres' table
create_genres_table = """
CREATE TABLE IF NOT EXISTS genres (
    tconst VARCHAR(255) PRIMARY KEY,
    genre TEXT
);
"""

# Execute the SQL command to create the table
engine.execute(create_genres_table)

In [37]:
# Execute SQL queries to show the first 5 rows of each table
tables = ['title_basics', 'title_ratings', 'title_genres', 'genres', 'tmdb_data']
for table in tables:
    result = engine.execute(f'SELECT * FROM {table} LIMIT 5')
    print(f'First 5 rows of {table}:')
    for row in result:
        print(row)
    print('\n')

First 5 rows of title_basics:
('tt0011801', 'movie', 'Tötet nicht mehr', 'Tötet nicht mehr', 0, 2019.0, None, '\\N', 'Action,Crime', 'Action,Crime')
('tt0015414', 'movie', 'La tierra de los toros', 'La tierra de los toros', 0, 2000.0, None, '60', '\\N', '\\N')
('tt0035423', 'movie', 'Kate & Leopold', 'Kate & Leopold', 0, 2001.0, None, '118', 'Comedy,Fantasy,Romance', 'Comedy,Fantasy,Romance')
('tt0062336', 'movie', 'The Tango of the Widower and Its Distorting Mirror', 'El tango del viudo y su espejo deformante', 0, 2020.0, None, '70', 'Drama', 'Drama')
('tt0068865', 'movie', 'Lives of Performers', 'Lives of Performers', 0, 2016.0, None, '90', 'Drama', 'Drama')


First 5 rows of title_ratings:
('tt0015414', 5.2, 16)
('tt0035423', 6.4, 87565)
('tt0062336', 6.4, 180)
('tt0068865', 5.4, 74)
('tt0069049', 6.7, 7830)


First 5 rows of title_genres:
('tt0011801', '66')
('tt0015414', '979')
('tt0035423', '537')
('tt0062336', '665')
('tt0068865', '665')


First 5 rows of genres:
('Action', 0)
('Action,Adult', 1)
('Action,Adult,Crime', 2)
('Action,Adult,Drama', 3)
('Action,Adult,Sci-Fi', 4)


First 5 rows of tmdb_data:
('tt0015414', 0, 0, None)
('tt0102362', 0, 0, None)
('tt0113026', 10000000, 0, None)
('tt0113086', 0, 0, None)
('tt0113092', 0, 0, None)

In [38]:
# Show all tables in the 'movies' database
result = engine.execute('SHOW TABLES')
print('Tables in the database:')
for row in result:
    print(row[0])

Tables in the database:
genres
title_basics
title_genres
title_ratings
tmdb_data

In [39]:
# Create a session
Session = sessionmaker(bind=engine)
session = Session()

In [40]:
session.commit()