In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Text
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [2]:
title_basics_df = pd.read_csv(r'\Users\lidiv\project03\project3\Data/title_basic_filtered.csv.gz', compression='gzip', low_memory=False)
title_ratings_df =  pd.read_csv(r'\Users\lidiv\project03\project3\Data/title_rating_filtered.csv.gz', compression='gzip', low_memory=False)
tmdb_data_df = pd.read_csv(r'\Users\lidiv\project03\project3\tmdb_results_combined.csv.gz', compression='gzip', low_memory=False)

In [3]:
# Normalize genres
unique_genres = title_basics_df['genres'].str.split(', ').explode().unique()
genre_id_mapping = {genre: idx for idx, genre in enumerate(unique_genres)}

In [4]:

print(tmdb_data_df.columns)

Index(['movie_id', 'budget', 'revenue', 'certification'], dtype='object')

In [5]:
import json
with open('/Users/lidiv/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [6]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/movie"
engine = create_engine(connection)

In [7]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [8]:
# Create title_genres table
title_genres_df = title_basics_df[['tconst', 'genres']].copy()
title_genres_df['genres'] = title_genres_df['genres'].str.split(', ')
title_genres_df = title_genres_df.explode('genres')

In [9]:
# Create tables
title_basics_df.to_sql('title_basics', engine, index=False, if_exists='replace')
title_ratings_df.to_sql('title_ratings', engine, index=False, if_exists='replace')
title_genres_df.to_sql('title_genres', engine, index=False, if_exists='replace')
tmdb_data_df[['movie_id', 'budget', 'revenue', 'certification']].to_sql('tmdb_data', engine, index=False, if_exists='replace')

18135

In [10]:
# Define the schema for the 'genres' table
create_genres_table = """
CREATE TABLE IF NOT EXISTS genres (
    tconst VARCHAR(255) PRIMARY KEY,
    genre TEXT
);
"""

# Execute the SQL command to create the table
engine.execute(create_genres_table)

In [11]:
# Execute SQL queries to show the first 5 rows of each table
tables = ['title_basics', 'title_ratings', 'title_genres', 'genres', 'tmdb_data']
for table in tables:
    result = engine.execute(f'SELECT * FROM {table} LIMIT 5')
    print(f'First 5 rows of {table}:')
    for row in result:
        print(row)
    print('\n')

First 5 rows of title_basics:
('tt0011801', 'movie', 'Tötet nicht mehr', 'Tötet nicht mehr', 0, 2019.0, None, '\\N', 'Action,Crime')
('tt0015414', 'movie', 'La tierra de los toros', 'La tierra de los toros', 0, 2000.0, None, '60', '\\N')
('tt0035423', 'movie', 'Kate & Leopold', 'Kate & Leopold', 0, 2001.0, None, '118', 'Comedy,Fantasy,Romance')
('tt0062336', 'movie', 'The Tango of the Widower and Its Distorting Mirror', 'El tango del viudo y su espejo deformante', 0, 2020.0, None, '70', 'Drama')
('tt0068865', 'movie', 'Lives of Performers', 'Lives of Performers', 0, 2016.0, None, '90', 'Drama')


First 5 rows of title_ratings:
('tt0015414', 5.2, 16)
('tt0035423', 6.4, 87565)
('tt0062336', 6.4, 180)
('tt0068865', 5.4, 74)
('tt0069049', 6.7, 7830)


First 5 rows of title_genres:
('tt0011801', 'Action,Crime')
('tt0015414', '\\N')
('tt0035423', 'Comedy,Fantasy,Romance')
('tt0062336', 'Drama')
('tt0068865', 'Drama')


First 5 rows of genres:


First 5 rows of tmdb_data:
('tt0015414', 0, 0, None)
('tt0102362', 0, 0, None)
('tt0113026', 10000000, 0, None)
('tt0113086', 0, 0, None)
('tt0113092', 0, 0, None)

In [12]:
# Show all tables in the 'movies' database
result = engine.execute('SHOW TABLES')
print('Tables in the database:')
for row in result:
    print(row[0])

Tables in the database:
genres
title_basics
title_genres
title_ratings
tmdb_data